html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: url(../assets/svg/LandingPage_Background.svg) no-repeat top left;
  	background-size: 100%;
  	background-attachment: fixed;
	/*background-image: url(../assets/svg/LandingPage_Background.svg);*/
}

.Landing a {
	text-decoration: none;
}

.Wrapper {
	min-height: calc(100vh - 7em);

}





.Header {
	display: inline-block;
	height: 82px;
	background: /*#23A6D5;*/ linear-gradient(-45deg, #23D5AB, #23A6D5);
	
	margin-bottom: 10px;
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	width: 100%;
	border-bottom: 4px solid #FFF800;
	
}



.Header img {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 14px;
	margin-left: 39px;

}

.Header h1 {
	font-family: 'Montserrat', sans-serif;
	
	color: white;
	float: left;
	margin-left: 19px;
}

.Header p {
	display: inline-block;
	color: white;
	float: left;
	font-size: 16px;
	margin: 37px 0 0 12px;
}

.Header ul {
	list-style: none;
	float: right;
	padding-right: 60px;
	margin-top: 18px;
}
.Header li {
	display: inline-block;
	margin: 10px;
	
	padding-right: 20px;
	/*border-right: 2px solid #cecece;*/
	
}

.Header a{
	font-family: 'Open Sans', sans-serif;
	color: white;
}


li .last{
	border: none;
	padding-right: 70px;
}


.Header:hover {
	color: #323232 /*#191919*/ /*#23D5AB*/ /*#FFF800*/;
}

/*a.active {
	color: #323232;
}*/

@media screen and (max-width: 640px) {
	.Header {
		height: 60%;
		width: 100%;
	}

	.Header img {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 14px;
	margin-left: 24px;

}

	.Header h1 {
		display: block;
		text-align: center;
		margin:24px 0px 0px 15px;
		font-size: 30px;
	}

	.Header ul {
		width: 100%;
		float: left;
		padding: 0;
		margin: 12px 0 12px 0;
	}

	.Header li {
		display: inline-block;
		clear: both;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		width: 25%;
		margin: 0;
		font-size: 14px;
		padding: 0;
	}

	.Header p{
		display: none;
	}

	.Header #first {
		padding-left: 0;

	}

	.Header #second {
		padding-left: 9px;
	}


	.Header #last {
		/*margin-left: 16px;*/
		border: none;
		margin: none;
		padding: 0px;

	}


}



.Footer {
	padding: .5em calc(50% - 400px);
	height: 6em;
	width: auto;
	margin-top: 28px;
	border-top: 4px solid  #FFF800;
	background: #23A6D5 /*#23D5AB*/;
}

.Footer ul {
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}

.Footer li {
	display: inline-block;
	
}

.Footer h3 {
	padding-right: 50px;
	color: white;
	margin-top: 10px;


}

.Footer h3:hover {
	color: #323232;
}