.SoloWaiting {
	display: inline-block;
	width: 90%;
	margin:20px 10px 12px 50px; 
	border: 1px solid grey;
	box-shadow: 1px 2px 3px #ccc;
	border-radius: 4px;
	padding: 16px;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	background: white;
	color: black;

}

.SoloWaiting h1{
	clear: both;
}

.AnswersButton {
	font-size: 22px;
	border: none;
	background: none;
	color: gray;
	float: right;
	}

.AnswersButton:hover {
	
	color: black;
	box-shadow: none;

}

@media screen and (max-width: 640px) {

	.SoloWaiting {
		margin-left: 12px;
	}

	.AnswersButton {
		width: 30%;
		margin-right: 12px;
	}

	.BackButton {
		width: 30%;
	}

}