.LessonTitle h1 {
	font-family: 'Open Sans';
	text-align: center;
}

.LessonSentencesWrapper {
	width: 80%;
	padding: 3%;
	margin: auto;
	background: white;
	border: 1px solid #eee;
	box-shadow: 2px 1px 2px #ccc;
}

.LessonOptions {
	margin: auto;
}

.LessonSentence {
	width: 90%;
	margin: auto;
	margin-bottom: 12px;
	background: white;
  	border: 1px solid #eee;
  	box-shadow: 2px 1px 2px #ccc;
  	
}

.LessonSentence p{
	font-family: 'Open Sans';
	font-size: 23px;
	display: inline-block;
	margin: 3% 0 0 3%;
}

 .ExerciseButton {
  display: block;
  margin: 23px auto 8px auto;
  justify-content: center;
  font-weight: lighter;
  width: 80px; 
  height: 25px; 
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: white;
  font-size: 18px;
  color: black;

} 

.ExerciseButton:hover {
  cursor: pointer;
  color: #00c4c3;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px 0px #eee;
}

 .ExerciseButton:disabled {
  color: black;
  background-color: #d58282;
  opacity: .7;
  
}
.ExerciseButton:focus {
	text-decoration: none;
}
.ExerciseButton:disabled:hover {
  cursor: auto;
}