.AuthModal h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 44px;

}

.AuthModal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    top: 18%;
    left: 25%;
    width: 50%;
    transition: all 0.3s ease-out;
}



.CloseModal{
    margin: 10px 10px 0 0;
    float: right;
}

.CloseModal:hover {
    cursor: pointer;
    fill: #00c4c3;
}



.AuthModalOpen {
    animation: openModal 0.4s ease-out forwards;
}

.AuthModalClosed {
    animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 640px) {

    .AuthModal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    top: 10%;
    left: 1%;
    width: 98%;
    transition: all 0.3s ease-out;
}

.CloseModal{
    margin: 3px -4px 0 0;
    float: right;
}

}