.CreateLesson {
  width: 90%;
  margin: auto;
  border: 1px solid grey;
  box-shadow: 1px 2px 3px #ccc;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: black;
}


.InputSentenceWrapper {
  display: inline-block;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; 
  border: 1px solid #ccc;
  box-shadow: 1px 2px 3px #ccc;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: black;
}
.InputSentenceWrapper p{
  float: left;
  margin: 12px 0 0 12px;
}

.DeleteSentence {
  float: right;
  margin: 12px 12px 0 0;
}

.AddAlt{
  display: block;
  clear: both;
  margin-left: 30%;
  transition: 100ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 100ms;
  -webkit-transition-timing-function: ease-in-out;
}

.DeleteSentence:hover,
.RemoveAlt:hover,
.AddAlt:hover {
  cursor: pointer;
  fill: #00c4c3;
}




.LessonTitleInput{
  display: block;
  float: left;
  width:60%;
  margin-top: 10px;
  margin-left: 37px;
  margin-bottom: 20px;
  border-top:none;
  border-left:none;
  border-right:none;
  background: none;
  
  height:40px;
  line-height:20px;
  font-size:40px;
  border-bottom:solid 2px #b3b2ca;
  transition:all .23s ease-in
}

.LessonTitleInput:focus {
  outline: none;
  border-bottom:solid 2px #F9F442;
}

.CreateSentenceButton {
  display: inline;
  margin-top: 12px;
}

.CreateButton {
  width: 120px;
  height: 60px;
  margin-left: 70%;
  margin-top: -14px;
  display: inline-block;
  clear: left;
  background: #00c4c3;
  color: white;
  border: none;
}

.CreateButton:hover {
  color: black;
  border: initial;
}