.Home h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
  font-size: 56px;
}
.Home {
  display: block;
}

.HomeCreate,
.HomeQuiz {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.HomeStudy,
.HomeRepeat {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#study,
#quiz,
#create,
#repeat {
  margin: 12px 0 22px 0;
  width: 53%;
  height: 45vh;
  background: white;
  border: 1px solid #eee;
  box-shadow: 2px 1px 2px #ccc;
}

.Home p{
  font-family: 'Open-sans', sans-serif;
  font-size: 22px;
  text-align: center;
  margin: auto;
}



.TypedText {
  font: 180% "Roboto Mono", monospace;
  width: 8.25em;
  width: 15ch;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  clear: both;
  overflow: hidden;
  margin-top: 10vh;
  border-bottom: .05em solid gray;
  border-right: .05em solid;
  animation: typing 10s steps(15) infinite,
             caret 1s steps(1) infinite;
}


 @keyframes send {
    0% {
            top: 0px;
        }
    25% {
          top: 0px;
    }
    50% {  
            
            top: -10px;
        }
    75% {
          top: 0px;
    }

    90% {
          top: 0px;
    }
    100% {  
            top: 0px;
        }
}

 @-webkit-keyframes send {
     0% {
            
            top: 0px;
        }
    50% {  
            
            top: -10px;
        }

    100% {  
            
            top: 0px;
        }
}
@keyframes typing {
  from { width: 0 }
  0% {
    color: black;
  }

  50% {
    color: black;
  }

  90%{
    color: black;
  }
  95% {
    color: #00c4c3;
  }
}

@keyframes caret {
  50% { border-right-color: transparent; }
}




@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 640px) {

  #study,
  #quiz,
  #create,
  #repeat {
    margin: 12px 0 22px 0;
    width: 75%;
    height: 45vh;
    background: white;
    border: 1px solid #eee;
    box-shadow: 2px 1px 2px #ccc;
  }

}

